.App {
  text-align: center;
}
.d_flex{
  display: flex;
  width: 200vh;
  overflow: auto;
}
section{
  display: flex;
  justify-content: space-around;
}
.comment{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  width: 350px;
  height: 200px;
  color: #444;
  border-radius: 8px;
  flex-direction: column;
  margin: 0 10px;
}
.fullComment{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e7ff;
  width: 600px;
  height: auto;
  color: #4338ca;
  border-radius: 8px;
  flex-direction: column;
  margin: 20px 0;
  padding: 10px;
}
.newComment{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e7ff;
  width: 600px;
  height: auto;
  color: #4338ca;
  border-radius: 8px;
  flex-direction: column;
  padding: 10px;

}
.newComment input,textarea{
  width: 100%;
  border-radius: 5px;
  padding: 7px 10px;
  border: 1px solid #ccc;
}
.margin{
  margin: 7px 0;
  width: 29rem;
}
.btn_add{
  background-color: #4338ca;
  color: white;
  border-radius: 5px;
  padding: 8px 15px;
  border: none;
  outline: none;
}
.deleted{
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 8px 15px;
  border: 1px solid red;
  outline: none;
}
